<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
    <ion-list color="dark">
        <ion-item *ngFor="let lista of todosService.listas" detail color="dark">
            <ion-label>{{ lista.titulo }}</ion-label>
        </ion-item>
    </ion-list>
    <!-- 
        detail: add small arrow

    -->
    <!-- fab placed to the bottom start -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>